.input {
  height: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  background-color: #17173c;
  color: whitesmoke;
  padding: 11px 30px 11px 11px;
  margin: 1px solid #888;
  box-shadow: -1px -1px 1px 1px rgb(151, 154, 219);
}