.App {
  height: 100vh;
  padding-top: 10px;
  background-color: rgb(210, 210, 210);
  font-family: 'Gill Sans';
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0%;
  margin: 0%;
}

.logo-contenedor {
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.logo{
  height: 100px;
  opacity: 0.7;
  border-radius: 5px;
}
.calculadora{
width: 300px;
height: 330px;
padding: 30px;
background-color: rgb(1, 1, 83);
border-radius: 20px;
border: 1px solid rgb(30, 30, 30);
}
.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}